body{
    background-color: #f8f4e6;/*象牙色*/
    /*fbfaf5/*生成色*/
    /*f8f4e6/*象牙色*/
    font-family: 'Tsukushi A Round Gothic'; font-weight: normal;
    color: #7b7c7b;/*鉛色*/
}

.all{
    padding-left: 20px;
}

.spot_name{
    position: relative;
    display: inline-block;
    padding-left: 28px;
    font-family: 'Tsukushi A Round Gothic'; font-weight: bold;
    border-bottom: solid 5px #ffffff;
}

.circle{
    position: relative;
    vertical-align: middle;
}

.circle1{
    position: absolute;
    bottom: 25px;
    background: #f8e58c;
    width: 27px;/*幅*/
	height: 27px;/*高さ*/
	border-radius: 50%;/*角丸*/
}

.circle2{
    position: absolute;
    bottom: 10px;
    background: #2792c3;
    padding-left: 3px;
    width: 20px;/*幅*/
	height: 20px;/*高さ*/
	border-radius: 50%;/*角丸*/
}

.body_items{
    position: relative;
    border-bottom: solid 3px #ffffff;
    display: inline-block;
}

.body_items:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 10px;
    height: inherit;
    border-bottom: 3px solid #f8e58c;
}

.body_items:after{
    content: "";
    position: absolute;
    left: 10;
    bottom: -3px;
    width: 5px;
    height: inherit;
    border-bottom: 3px solid #2792c3;
}