body{
    background-color: #f8f4e6;/*象牙色*/
    font-family: 'Tsukushi A Round Gothic'; font-weight: normal;
    color: #7b7c7b;/*鉛色*/
}

.spot_body{
    padding-left: 20px;
    /*クチコミ部分だけ20ずれ直したい→要素ごとに変えるしかないか？*/
}

.circle{
    position: relative;
    vertical-align: middle;
}

.circle1{
    position: absolute;
    bottom: 25px;
    background: #f8e58c;
    width: 27px;/*幅*/
	height: 27px;/*高さ*/
	border-radius: 50%;/*角丸*/
}

.circle2{
    position: absolute;
    bottom: 10px;
    background: #2792c3;
    padding-left: 3px;
    width: 20px;/*幅*/
	height: 20px;/*高さ*/
	border-radius: 50%;/*角丸*/
}


.spot_name{
    position: relative;
    padding-left: 28px;
    font-family: 'Tsukushi A Round Gothic'; font-weight: bold;
    display: inline-block;
    border-bottom: solid 5px #ffffff;
}

.category_erea_all{
    display: flex;/*横並び*/
    justify-content: flex-start;/*親要素に左右の空白がある場合水平方向は左詰めで揃える*/
    align-items: baseline;/*親要素に上下の空白がある場合垂直方向はベースラインで揃える*/
}

.category_erea{
    margin: 10px;
    display: flex;/*横並び*/
    justify-content: flex-start;/*親要素に左右の空白がある場合水平方向は左詰めで揃える*/
    align-items: center;/*親要素に上下の空白がある場合垂直方向は中央で揃える*/
}

.erea_name{
    color: #bbc8e6;/*淡藤*/
    background: #ffffff;
    border-radius: 8px 8px 8px 8px;
    padding: 3px;
}

.category_name{
    color: #ffffff;
    background: #bbc8e6;/*淡藤*/
    border-radius: 8px 8px 8px 8px;
    padding: 3px;
    margin: 5px;
}

.spot_items{
    position: relative;
    border-bottom: solid 3px #ffffff;
    display: inline-block;
}

.spot_items:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 10px;
    height: inherit;
    border-bottom: 3px solid #f8e58c;
}

.spot_items:after{
    content: "";
    position: absolute;
    left: 10;
    bottom: -3px;
    width: 5px;
    height: inherit;
    border-bottom: 3px solid #2792c3;
}

/*.review_images{*/
/*    position: relative;*/
/*}*/

.reviews{
    display: flex;/*横並び*/
    justify-content: flex-start;/*親要素に左右の空白がある場合水平方向は左詰めで揃える*/
    /*align-items: baseline;親要素に上下の空白がある場合垂直方向はベースラインで揃える*/
}

.review{
    position: relative;
    background-color: #ffffff;
    width: 30%;
    padding: 20px;
    margin: 30px;
    text-align: center;
    vertical-align: top;/*上揃え*/
    border-radius: 40px 10px 10px 10px;
}
/*レビューの本文の量の違いで高さが揃わない場合はどういう表示になるかが確認できてない*/

.review:before{
    position: absolute;
    top: -7px;
    left: -7px;
    width: 100%;
    height: 100%;
    content: '';
    border: 2px solid #f8e58c;
    border-radius: 40px 10px 10px 10px;
}

.nickname{
    color: #2792c3;
}

.image{
    width: 300px;
    height: 300px;
}