body{
    background-color: #ffffff;
}

.filter_search{
    color: #7b7c7b;
    /*文字色は鉛色*/
}

.serch_01{
    color: #ffffff;
    position: relative;
    background: #9d896c;
    box-shadow: 0px 0px 0px 5px #9d896c;
    width: 220px;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
}

.serch_01:after{
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #d6c6af #fff #d6c6af;
    /*box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);//めくれたところの影*/
    
}

.serch_01 p {
    margin: 0; 
    padding: 0;
}

.search_result{
    color: #7b7c7b;
    /*文字色は鉛色*/
}

.spot{
    display:  inline-block;
    /*インラインブロック指定*/
    
    padding: 30px;
    /*余白指定*/
    
    height: 350px;
    /*ブロックの高さ*/
    
    width:  33%;
    /*ブロックの幅*/
    
    color: #7b7c7b;
    /*文字色は鉛色*/
    
    background-color: #f8e58c;
    /*背景は淡黄*/
    
    text-align: center;
    /*文字は中央揃え*/
}