body{
    background-color: #f8f4e6;/*象牙色*/
    /*fbfaf5/*生成色*/
    /*f8f4e6/*象牙色*/
    font-family: 'Tsukushi A Round Gothic'; font-weight: normal;
}

.filter_search{
    color: #7b7c7b;/*鉛色*/
    padding-left: 20px;/*左側の余白*/
}

h3{
    font-family: 'Tsukushi A Round Gothic'; font-weight: bold;
    border-bottom: solid 3px #ffffff;
    width: 120px;
    position: relative;
}
.circle{
    display: flex;/*横に並べる*/
}

.circle1{
    position: relative;
    bottom: 15px;
    left: 55px;
    background: #f8e58c;
    width: 10px;/*幅*/
	height: 10px;/*高さ*/
	border-radius: 50%;/*角丸*/
}

.circle2{
    position: relative;
    bottom: 20px;
    left: 65px;
    background: #e9e4d4;/*灰白色*/
    width: 15px;/*幅*/
	height: 15px;/*高さ*/
	border-radius: 50%;/*角丸*/
}

.circle3{
    position: relative;
    bottom: 25px;
    left: 75px;
    background: #f8e58c;
    width: 20px;/*幅*/
	height: 20px;/*高さ*/
	border-radius: 50%;/*角丸*/
}

.search_01{
    color: #ffffff;/*白色*/
    position: relative;
    padding: 1rem 2rem calc(1rem + 10px);/*枠内の余白*/
    background: #9d896c;/*空五倍子色*/
    width: 250px;
    text-align: center;
    border-radius: 40px 40px 40px 40px;/*左上基準に時計回り四隅を丸くする*/
}

.search_01:before{
    position: absolute;
    top: -7px;
    left: -7px;
    width: 100%;
    height: 100%;
    content: '';
    border: 2px solid #726250;/*樺茶色*/
    border-radius: 40px 40px 40px 40px;/*左上基準に時計回り四隅を丸くする*/
}

.category_option {
    border: 1px solid #b94047;/*燕脂色*/
    padding: 3px;/*枠内の余白*/
    color: #b94047;
    border-radius: 8px 8px 8px 8px;/*左上基準に時計回り四隅を丸くする*/
}

.search_category{
    color: #ffffff;
    position: relative;
    padding: 3px;
    margin-right: 20px;
    display: flex;/*横に並べる*/
    background: #bbc8e6;/*淡藤*/
    border-radius: 8px 8px 8px 8px;
    text-align: center;
}

.erea_option{
    border: 1px solid #b94047;/*燕脂色*/
    padding: 3px;/*枠内の余白*/
    color: #b94047;
    border-radius: 8px 8px 8px 8px;/*左上基準に時計回り四隅を丸くする*/
}

.search_erea{
    color: #bbc8e6;
    text-align: center;
    position: relative;
    padding: 3px;
    margin-right: 20px;
    display: flex;/*横に並べる*/
    background: #ffffff;
    border-radius: 8px 8px 8px 8px;
}

.search_result{
    color: #7b7c7b;
    /*文字色は鉛色*/
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.search_result01{
    color: #ffffff;
    position: relative;
    padding: 3px;
    display: flex;/*横に並べる*/
    background: #bbc8e6;/*淡藤*/
    border-radius: 8px 8px 8px 8px;
    text-align: center;
}

.search_result02{
    color: #bbc8e6;
    text-align: center;
    position: relative;
    padding: 3px;
    display: flex;/*横に並べる*/
    background: #ffffff;
    border-radius: 8px 8px 8px 8px;
}
/*検索前の画面で謎の白い玉がつく*/

.spots{
    /*左揃えうまくいってない*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.spot{
    position: relative;
    padding: 20px;/*枠内の余白指定*/
    height: 330px;
    width: 30%;
    margin: 10px;
    color: #7b7c7b;/*鉛色*/
    background-color: #f8e58c;/*淡黄*/
    text-align: center;/*文字中央揃え*/
    vertical-align: top;/*上揃え*/
    border-radius: 40px 10px 10px 10px;/*左上基準に時計回り四隅を丸く*/
}

.spot:before{
    position: absolute;
    top: -7px;
    left: -7px;
    width: 100%;
    height: 100%;
    content: '';
    border: 2px solid #9d896c;/*空五倍子色*/
    border-radius: 40px 10px 10px 10px;/*左上基準に時計回り四隅を丸く*/
}

.spot_name{
    font-family: 'Tsukushi A Round Gothic'; font-weight: bold;    
}

.spot_name a{
    position: relative;/*spot bforeのabsoluteによってリンクが消えるので入れる*/
}

.check_redio_all{
    display: flex;
    justify-content: center;/*親要素に左右のの空白がある場合水平方向は中央で揃える*/
    align-items: baseline;/*親要素に上下の空白がある場合垂直方向はベースラインで揃える*/
}

.category_erea{
    padding: 3px;
    margin: 5px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;/*親要素に上下の空白がある場合垂直方向は中央で揃える*/
}

.erea_name{
    color: #bbc8e6;/*淡藤*/
    background: #ffffff;
    border-radius: 8px 8px 8px 8px;
    padding: 3px;
}

.category_name{
    color: #ffffff;
    background: #bbc8e6;/*淡藤*/
    border-radius: 8px 8px 8px 8px;
    padding: 3px;
    margin: 3px;
}

.spot_items{
    position: relative;
    display: inline-block;
    border-bottom: solid 3px #ffffff;
}

.spot_items:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 5px;
    height: inherit;
    border-bottom: 3px solid #2792c3;
}